<div class="container">
    <div class="col-xs-6">
        <div class="row">
            <span>Name:</span> <input placeholder="name" type="text">
        </div>
        <div class="row">
            <span>Surname:</span> <input placeholder="surname" type="text">
        </div>
        <div class="row">
            <span>Country:</span> <input placeholder="country" type="text">
        </div>
    </div>
    <div class="col-xs-6">
        <article class="card">
            <img class="img-responsive" src="app/shared/img/user.jpg">
        </article>

    </div>
</div>