<header class="row">
    <h1 class="headline text-center">Address book</h1>
</header>

<div class="container">
    <nav class="tabs">
        <div class="col-xs-6 tab">
            <a routerLink="" [routerLinkActive]="['active']" >List</a>
        </div>
        <div class="col-xs-6 tab">
            <a routerLink="/admin" [routerLinkActive]="['active']">Add</a>
        </div>
    </nav>
</div>

<main>
    <router-outlet></router-outlet>
</main>

<footer class="row">
    <p>Designed and Developed by <a href="Public Profilehttps://mt.linkedin.com/in/georgeperivolarakis" target="_blank">George Perivolarakis</a></p>
</footer>
