<div class="container">
    <div *ngIf="contact">
        <article class="card-selected">
            <figure>
                <img src="{{contact.postcard}}">
            </figure>
            <div class="col-xs-12 content">

                <div class="row">
                    <div class="col-sm-3">
                        <span>Name:</span>
                    </div>
                    <div class="col-sm-5">
                        <input [(ngModel)]="contact.name" placeholder="name" type="text">
                    </div>
                    <div class="col-sm-4">

                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3">
                        <span>Surname:</span>
                    </div>
                    <div class="col-sm-5">
                        <input [(ngModel)]="contact.lastName" placeholder="surname" type="text">
                    </div>
                    <div class="col-sm-4">

                    </div>
                </div>


                <div class="row">
                    <div class="col-sm-3">
                        <span>Email:</span>
                    </div>
                    <div class="col-sm-5">
                        <input [(ngModel)]="contact.email" placeholder="email" type="email">
                    </div>
                    <div class="col-sm-4">

                    </div>
                </div>


                <div class="row">
                    <div class="col-sm-3">
                        <span>Country:</span>
                    </div>
                    <div class="col-sm-5">
                        <input [(ngModel)]="contact.country" placeholder="country" type="text">
                    </div>
                    <div class="col-sm-4">

                    </div>
                </div>

                <div class="col-xs-12 btn-wrapper">
                    <button class="cta" (click)="saveContact()">Save</button>
                </div>

            </div>
        </article>
    </div>

</div>

